<div class="navbar flex items-center justify-center space-x-4 md:space-x-20 bg-base-100 bg-opacity-0 font-semibold fixed">
    <button class="text-sm md:text-xl transform bg-indigo-400 hover:text-gray transition duration-500 hover:scale-125" (click)="scrollToSection('home')">Home</button>
    <button class="text-sm md:text-xl transform bg-indigo-400 hover:text-gray transition duration-500 hover:scale-125" (click)="scrollToSection('about')">About</button>
    <button class="text-sm md:text-xl transform bg-indigo-400 hover:text-gray transition duration-500 hover:scale-125" (click)="scrollToSection('projects')">Projects</button>
    <button class="text-sm md:text-xl transform bg-indigo-400 hover:text-gray transition duration-500 hover:scale-125" (click)="scrollToSection('contacts')">Contacts</button>
  </div>